<h1 mat-dialog-title>
  {{data.employee.firstName}} {{data.employee.lastName}}
</h1>
<div mat-dialog-content style="padding-bottom:1em">
  <div *ngIf="data.flight.need != 0">
    <p>
      <mat-checkbox [(ngModel)]="ticketsOrdered" (change)="togglePlaneTickets($event.checked)" >Plane tickets</mat-checkbox>
    </p>
    <p>{{data.flight.info}}</p>
  </div>
  <div *ngIf="data.carRent.need != 0">
    <p>
      <mat-checkbox [(ngModel)]="carRented" (change)="toggleCarRental($event.value.checked)">Car rent</mat-checkbox>
    </p>
    <p>{{data.carRent.info}}</p>
  </div>

  <div *ngIf="data.accomodation">
    <h3>Accommodation:</h3>
    {{data.accomodation.name}} <br>
    Room: {{data.room.roomNumber}} <br>
  </div>
  <button mat-raised-button (click)="onChangeClick()">Change Accomodation</button>
</div>
