<h1 mat-dialog-title>
    New User
</h1>
<form class="example-form" ngNativeValidate #newUserForm>
    <div mat-dialog-content>
        <mat-form-field class="example-full-width">
            <input required matInput placeholder="First name" [(ngModel)]="firstName" name="firstName">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input required matInput placeholder="Last name" [(ngModel)]="lastName" name="lastName">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input required matInput placeholder="User name" [(ngModel)]="userName" name="userName">
        </mat-form-field>@devbridge.com
        <br>
        <mat-form-field class="example-full-width">
            <input required matInput placeholder="Password" [(ngModel)]="password" name="password" type="password">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-select required [(ngModel)]="role" placeholder="Role" name="role">
                <mat-option value="Admin">Admin</mat-option>
                <mat-option value="Organiser">Organiser</mat-option>
                <mat-option value="Employee">Employee</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="submit" (click)="newUserForm.checkValidity() ? onSaveClick() : null">Save</button>
        <button mat-button (click)="onCloseClick()">Cancel</button>
    </div>
</form>