<div *ngIf="!userService.isAdmin">
    You don't have permission to view this page.
</div>
<div *ngIf="userService.isAdmin">
    <p>Users:
        <button mat-icon-button (click)="onAddCLick()">
            <mat-icon aria-label="Add user">add</mat-icon>
        </button>
    </p>

    <div class="mat-elevation-z8" style="width: 100%">
        <table mat-table [dataSource]="users" style="width: 100%">

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> First mane </th>
                <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Last mane </th>
                <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
            </ng-container>

            <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef> User mane </th>
                <td mat-cell *matCellDef="let user"> {{user.username}} </td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> Role </th>
                <td mat-cell *matCellDef="let user">
                    <mat-select [ngModel]="user.role" (selectionChange)="onRoleChange($event.value, user)">
                        <mat-option value="Admin">Admin</mat-option>
                        <mat-option value="Organiser">Organiser</mat-option>
                        <mat-option value="Employee">Employee</mat-option>
                    </mat-select>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let user">
                    <button mat-icon-button (click)="onRemoveClick(user)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>


</div>