.employee-travel-table {
  height: 100%;
  overflow: auto;
  table {
    width: 100%;
    td {
      cursor: pointer;
    }
  }
}
.approved-travel-table {
  height: 100%;
  table {
    width: 100%;
    td {
      cursor: pointer;
    }
  }
}
